body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
h4{
    padding-bottom: 20px;
}
.submit-area input{
    font-size: 22px;
}




















